
<nav class="bg-dark">
  <a routerLink="/Interpolation"><button class="btn btn-success">Interpolation</button></a>
  <a routerLink="/Classbinding"><button class="btn btn-success">Classbinding</button></a>
  <a routerLink="/DoubleCB"><button class="btn btn-success">DoubleCB</button></a>
  <a routerLink="/Stylebinding"><button class="btn btn-success">Stylebinding</button></a>
  <a routerLink="/Stylebinding2"><button class="btn btn-success">Stylebinding2</button></a>
  <a routerLink="/Eventbinding"><button class="btn btn-success">Eventbinding</button></a>
  <a routerLink="/Obi"><button class="btn btn-success">obi</button></a>
  <a routerLink="/Ngtdb"><button class="btn btn-success">Ngtdb</button></a>
  <a routerLink="/Ngif"><button class="btn btn-success">*ngIf</button></a>
  <a routerLink="/Ngswitchcase"><button class="btn btn-success">*ngswitchcase</button></a>
  <a routerLink="/Ngfor"><button class="btn btn-success">*ngFor</button></a>
  <a routerLink="/Ngforobect"><button class="btn btn-success">*ngFor object</button></a>
  <a routerLink="/Nestedngfor"><button class="btn btn-success">nested *ngFor</button></a>
</nav>
<br><br>

<button (click)="fun()" mat-raised-button color="accent">click</button>
<br><br><br><br><br><br><br><br><br>




<router-outlet></router-outlet>